.payment-packages {
	margin-bottom: 30px;
}

.payment-packages .package {
	height: 460px;
	position: relative;
	background: transparent url("../images/payment-icons.png") bottom center no-repeat;
	background-position: right 50% bottom 30px
}

.payment-packages .package-1 {
	background-color: #e1eef6;
}
.payment-packages .package-2 {
	background-color: #81b8df;
	color: #fff;
}
.payment-packages .package-3 {
	background-color: #4397d5;
	color: #fff;
}
.payment-packages .package-2 .amount,
.payment-packages .package-3 .amount {
	border-color: #fff;
}

.payment-packages .item-wrap {
	padding: 44px 20px 30px;
}

.payment-packages .title {
	font-size: 32px;
	line-height: 32px;
	margin: 0 0 55px;
}

.payment-packages h4.title {
	font-size: 38px;
}

.payment-packages .amount {
	font-family: 'bebas-bold';
	font-size: 52px;
	line-height: 52px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 3px solid #0476c7;
}

.payment-packages .description {
	font-size: 0.9em;
}

.payment-packages a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #0476c7;
	opacity: 0;
}

.payment-packages a:hover {
	opacity: .1;
}

.payment-packages .package-indie {
	border: 2px solid #0476c7;
	background-color: transparent;
}

.package-indie .amount {
	padding-left: 140px;
}

.package-indie .description {
	font-size: 1em;
}

.donation-popup h3.title {
	font-family: Quicksand, sans-serif;
	text-align: center;
	display: block;
	margin: 30px auto;
	color: #0476c7;
	font-weight: 500;
}

.donation-popup .terms {
	font-family: Quicksand, sans-serif;
	width: 100%;
	max-width: 440px;
	height: 150px;
	margin: 0 auto;
	overflow: auto;
	border: 1px solid #0476c7;
	font-size: 0.9em;
	color: #0476c7;
	margin-bottom: 15px;
	padding: 10px 7px;
	text-align: left;
	resize: vertical;
}
.donation-popup .terms h4 {
	font-family: Quicksand, sans-serif;
	font-size: 18px;
}

.petition-container .has-error .help-block,
.donation-popup .has-error .help-block {
	display: block;
}

.petition-container .help-block,
.donation-popup .help-block {
	display: none;
	text-align: center;
}

.donation-popup .info-block {
	width: 100%;
	max-width: 440px;
	margin: 0 auto 20px;
	text-align: left;
	font-size: 1.1em;
}


/* Theme style replacement */
.donation-popup {
  background: white;
  max-width: 600px;
  position: relative;
  text-align: center;
  color: #0476c7;
}
.donation-popup .logo {
    width: 230px;
    height: auto;
}
.donation-popup h2 {
    font-family: "Quicksand";
    text-align: center;
    display: block;
    margin: 30px auto 0;
    font-size:  35px;
}
.donation-popup form .form-control-lg {
      height: 44px;
      padding: 13px 16px;
      font-size: 18px;
}
.donation-popup form .feedback {
      display: none;
      color: #a94442;
}
.donation-popup form .has-error .help-block {
    display: block;
    color: #a94442;
    margin-top: 5px;
    font-size: 13px;
}
.donation-popup form input[type="email"],
.donation-popup form input[type="text"],
.donation-popup form input[type="submit"] {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;

    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
}
.donation-popup form .btn {
		height: 44px;
		padding: 3px 16px;
		font-size: 18px;
}
.donation-popup .headnote {
    margin-bottom: 30px;
    font-size: 1.1em;
}
.donation-popup .footnote {
    color: #aaa;
    margin: 30px 0 40px;
    font-size: 1.1em;
}	

.form-group-submit {
	margin: 25px 0 0;
}

.custom-control {
    position: relative;
    display: inline-block;
    padding-left: 47px;
    cursor: pointer;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    /* background-image: url(data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>); */
}
.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #0074d9;
}
.custom-checkbox .custom-control-indicator {
    border-radius: .25rem;
}

.custom-checkbox .custom-control-description {
    padding-left: 30px;
}

.custom-checkbox {
	width: 100%;
	max-width: 440px;
	margin: 0 auto;
	display: block;
    text-align: left;
}

.custom-control-indicator {
    position: absolute;
    top: 0;
    left: 22px;
    display: block;
    width: 17px;
    height: 17px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 50% 50%;
    background-size: 50% 50%;
    border: 2px solid #0074d9;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox .custom-control-description {
	font-weight: normal;
	font-size: 1.15em;
}

.custom-control-input:focus~.custom-control-indicator {
    -webkit-box-shadow: 0 0 0 .075em #fff,0 0 0 .2em #0074d9;
    box-shadow: 0 0 0 .075em #fff,0 0 0 .2em #0074d9;
}

.petition-container .form-group-submit {
	margin: 0;
}

.petition-container {

}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}

.checkbox-inline input[type=checkbox], .checkbox input[type=checkbox], .radio-inline input[type=radio], .radio input[type=radio] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px\9;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 10px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.has-error .form-control {
    border-color: #a94442;
}

.status-wrap {
    padding: 20px 20px 10px;
    background-size: 50px;
    border-radius: 5px;
    background-position: 20px 50%;
    background-repeat: no-repeat;
}

.status-wrap.status-error {
    background-image: url(../images/status_icon_error.png);
    color: #da001a;
    background-color: #da001a13;
    border: 1px solid #da001a;
}

.status-wrap.status-success {
    background-image: url(../images/status_icon_success.png);
    color: #3a3;
    background-color: #33aa3313;
    border: 1px solid #3a3;
}

.status-wrap .status-message {
    padding-left: 80px;
}